.inputTextForm {
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
}

.inputText {
            width: 300px;
            height: 42px;
            font-family: Verdana;
            color: black;
            font-weight: bold;
}