.text {
            text-align: center;
}

.linklist {
            margin-left: -10px;
            display: flex;
            justify-content: space-between;
            background-color: rgb(139, 208, 208);
            .linklistText {
                        text-decoration: none;
                        background-color: aqua;
                        padding: 5px;
                        margin: 10px;
            }

            
}